<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<!-- <html>
  <head>
    <title>Spotify SnapMusic</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
   <header>
      <h1>
        SnapMusic
      </h1>
      <h4>
        Capture your music
      </h4>
    </header>
    <main>
       <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <strong>Capture the mood</strong><br>
        <input id="file-picker" type="file" name="file" accept="image/*" multiple>
        <div align="center" id="msg"></div>
        
       <button class="btn">Snap it!</button>
      </form>
      <section class="dreams">
        <ul id="new-releases" class="sp-container">
        </ul>
      </section>
    </main>
    <script src="/public/client.js"></script>
 
  </body>
</html> -->

<html>
  <head>
    <title>Snapify</title>
    <meta name="description" content="Explore music using your Camera!">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        <img id="main_img" src="" align="center">
  
        Snapify
        
      </h1>
      <h4>
        Capture the music
      </h4>
    </header>

    <main>
      <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <!--input id="file-picker" type="file" name="file" accept="image/*" multiple>-->
        
        <div class="upload-btn-wrapper">
          <button class="btn">Snap it!</button>
          <input id="file-picker" type="file" name="file" accept="image/*" multiple>
        
        </div>
      
        
        <div align="center" id="msg"></div>
    
       
      </form>
      
      <p>
      </p>
  <div class="center">
    <img id="main_img" src="https://cdn.glitch.com/e8e18e93-6337-45a7-bf30-d9f8fd68aac5%2Fimg_list2.PNG?1543134820087" align="center">
  </div>              
  
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>

  </body>
</html>
