  /* styles */
/* called by your view template */

/* * {
  box-sizing: border-box;
}
header {
  font-family: Circular, monospace;
  margin: 100px;
  color: red;

}

body {
  font-family: Circular, monospace;
  margin: 90px;
  background-color: red;
}

#new-releases {
  max-width: 1800px;
  padding: 400px;
}

.sp-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sp-entity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 5px;
  width: 250px;
}

.sp-cover {
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-size: contain !important;
}

.sp-cover:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
}

.sp-title {
  margin: 15px 0 0;
}

.sp-by {
  margin: 0;
}

#search-bar {
  border-radius: 10px;
} */

/* styles */
/* called by your view template */

/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: Circular, 'Helvetica arial', sans-serif;
  margin: 70px;
  background-color: #fffc00;
  text-align: center;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition:all .9s ease;
  
  
  
}

.btn{width: 300px;
    /*height: 48px;
    text-align: center;
    margin: 30px auto;
    position: relative;
    /*background: red; /*#3ed3f9*/
    cursor: pointer;
  /*  color: #fff;
    font-family: lato, helvetica, arial;
    font-weight: bold;
    font-size: 18;*/
    -moz-box-shadow:inset 4px 4px 4px 0px #f9eca0;
	-webkit-box-shadow:inset 4px 4px 4px 0px #f9eca0;
	box-shadow:inset 4px 4px 4px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	background-color:#f0c911;
	-webkit-border-top-left-radius:29px;
	-moz-border-radius-topleft:29px;
	border-top-left-radius:29px;
  
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	
  -webkit-border-bottom-right-radius:29px;
	-moz-border-radius-bottomright:29px;
	border-bottom-right-radius:29px;
  
  -webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
  
  
	text-indent:0;
	border:5px solid #e65f44;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	font-style:normal;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 3px 1px #ded17c;

}

.upload-btn-wrapper:hover .eff-1{
  right:1;
}



.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  
    width: 20%;
}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  
    width: 40%;
}


#new-releases {
  max-width: 1800px;
  padding: 40px 0;
}

.sp-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sp-entity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 5px;
  width: 250px;
}

.sp-cover {
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-size: contain !important;
}

.sp-cover:hover {
  box-shadow: inset 0 0 0 1000px rgba(62, 211, 249, 0.1);
}

.sp-title {
  margin: 15px 0 0;
}

.sp-by {
  margin: 0;
}


.row {
  text-align:center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 50px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 50px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}